.containerz{
    max-height: 50%;
    OVERFLOW-Y:scroll;
}

h4{

    color: white;
}

.results-display{
    background:#1e88e5;
}

.mat-button{
    background: #eee;
    
}

.Not-Selected{
    filter: opacity(0.5);
}

.Lists{
    height:430px;
    OVERFLOW-Y:scroll;
}

.searchdetails{
    height: 70px;
}