<div class="container">
  <p>Materials Handling Activities Solutions</p>
  <mat-card>
    <mat-form-field>
      <mat-select placeholder="Material Handling Application" (ngModelChange)="onSelect($event)" [(ngModel)]="query">
        <mat-option *ngFor="let types of filters" [value]="types.taskName">
          {{types.taskName}} ({{ types.description }})
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!---<input matInput type="text" placeholder="Enter Keywords" [(ngModel)]="queryText" (keypress)="handleEnter($event.keyCode)">-->
    <!-- <button (click)="search()" mat-button><b>Search</b></button> -->
  </mat-card>
</div>