mat-grid-tile{
    border: solid darkgrey 3px;
    height:10%;
    width:50%;
}
video{
    height:70%;
    width: 80%;
    align-content:center;
}
img{
    height:70%;
    width: 80%;
    
    align-content:center;
}
