.mat-grid-tile{
    margin-right: 5%;
    margin-left: 5%;
    height:10%;
    width:50%;
    padding-top: 5%;
    box-sizing: content-box;
}
video{
    width:  250px;
    height: 200px;
}
img{
    width:  250px;
    height: 200px;
    
    
}
.media{
    border: solid black 2px;
    box-sizing: border-box;

}
