.container{
    background-color: #eee;
    margin: 0px;
    max-width: 100%;
    max-height: 100%;
    padding-top : 5%;
}

img{
    width:100%;
}
.grid-container{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-row-gap: 5%;
    grid-column-gap: 1%;
    padding-top: 4%;
    margin-right: 5%;
    margin-left: 5%;
    
}

h4{

    color: white;
}

.results-display{
    background:#1e88e5;
}
.item{
    grid-column-start: 2;
    grid-column-end: 3;
    border: solid darkgrey 3px;
    height: 500px;
    OVERFLOW-Y:scroll;
}

.item-1{
    grid-row-start: 1;
    grid-row-end: 3;
    OVERFLOW-Y:scroll;
}