.container{
    background-color: #eee;
    margin: 0px;
    max-width: 100%;
    padding-top : 5%;
}

.grid-container{
    display: grid;
    grid-template-columns: 75% 25%;
    grid-row-gap: 5%;
    grid-column-gap: 1%;
    padding-top: 4%;
    margin-right: 22%;
    margin-left: 15%;
    
}

.item{
    border: solid darkgrey 3px;
}

.item-1{
    grid-row-start: 1;
    grid-row-end: 3;
}